.display{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }
  .items{
  
  }
  .item{
    margin-bottom: 5vh;
    padding: 5px;
    border: 1px solid rgb(216, 210, 210);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    border-radius: 2px;
  }
  .summary{
    background-color: white;
    position: sticky;
    bottom: 0;
        /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        border-radius: 5px;
  }
  
  .figure{
    position: relative;
  }
  .cart-buttons{
    display: flex;
    flex-flow: row-reverse;
    position: absolute;
    bottom: 0;
    /* top: 0; */
    right: 0;
    margin-bottom: 40px;
  }
  
  .cart-buttons button span  {
    font-size: 17px;
  }
  .cart-buttons button {
    font-size: 6px;
  }
  
  .amounts{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  
  @media (min-width: 300px) {
    .display{
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      max-width: 500px;
      align-content: center;
      margin: 0 auto;
    }
    .items{
    }
    .item{
      margin-bottom: 5vh;
      padding: 5px;
      border: 1px solid rgb(216, 210, 210);
      /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
      border-radius: 2px;
    }
    .summary{
      background-color: whitesmoke;
      position: sticky;
      bottom: 0;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
      border-radius: 5px;
    }
    .figure{
      position: relative;
    }
    .cart-buttons{
      display: flex;
      flex-flow: row-reverse;
      position: absolute;
      bottom: 0;
      /* top: 0; */
      right: 0;
      margin-bottom: 40px;
    }
    .cart-buttons button span  {
      font-size: 20px;
    }
    .cart-buttons button {
      font-size: 8px;
    }
    .amounts{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }