html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    padding: 0;
    border: 0;
  }
  img {
    width: 100%;
  }
  
  .main-menu button {
    margin-top: 0;
  }
  .wrapper {
    display: flex;
    gap: 1%;
  }
  .products-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .content img {
    height: 250px;
  }
  
  .nav-container {
    position: sticky;
    top: -10%;
    background: var(--text-color-inverted);
    z-index: 998;
  }

  .card {
    position: relative;
  }

  .badges {
    position: absolute;
    top: 3%;
    color: var(--error-color);
    font-size: 1.2rem;
    cursor: pointer;
  }
  .banners {
    position: absolute;
    top: 5%;
    padding: 0 5px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
  }
  .hot-selling i,
  .hot-selling {
    color: var(--warning-color);
  }
  .sold-out i,
  .sold-out {
    background-color: var(--disabled-color);
  }
  
  @media (min-width: 800px) {
    .side-bar,
    .nav {
      position: sticky;
      top: 13%;
    }
  }

  @media (max-width: 650px) {
    .badges {
      left: -20%;
    }
    .banners {
      left: -100%;
    }
  }
  
  @media (min-width: 350px) {
    .badges {
      left: -20%;
    }
    .banners {
      left: -100%;
    }
  }
  
  @media (min-width: 1000px) {
    .badges {
      left: 90%;
    }
    .banners {
      left: 2%;
    }
  }