.cart {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: none;
    gap: 5%;
  }
  .product {
    flex-basis: 25%;
  }
  .order {
    flex-basis: 25%;
  }
  
  .product-content {
    display: flex;
    flex-flow: column wrap;
    gap: 1%;
  }
  
  .order-details {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    width: 100%;
  }
  #value {
    margin: auto;
    padding: 0.1rem;
  }
  .fas {
    border: none;
    cursor: pointer;
    padding: 0.1rem;
    margin: auto;
  }
  
  @media (max-width: 800px) {
    .product {
      flex-basis: 45%;
    }
    .order {
      flex-basis: 45%;
    }
  }
  
  @media (max-width: 500px) {
    .cart {
      flex-flow: column nowrap;
      justify-content: space-between;
      margin: 1rem;
    }
    .product-content {
      display: flex;
      flex-flow: row nowrap;
      gap: 1%;
      margin-bottom: 2rem;
    }
    .product-content img {
      max-width: 50%;
    }
  }